<header>
	<a routerLink="/dashboard" routerLinkActive="active" class="header-logo">
    <p style="font-size: 1.6em;color: white;">Tədris İnformasiya Sistemi</p>
	</a>
	<nav class="header-nav">
		<ul>

      <li>
        <div class="headerApps" #appsEl  >
          <a *ngFor="let application of applications"  href="{{application.url}}?token={{token}}" >{{application?.name | translate: currentLang }} </a>
        </div>
      </li>

			<li class="header-user">
				<a class="open-popup" data-popup="login-popup" popUp>
					<img class="header-profile-image" default="assets/images/user.png" [src]="user.imgUrl" default="assets/images/user.png" alt="">
				</a>
				<span class="user-dot"></span>

				<!-- popup -->
				<div id="login-popup" class="popup">
					<div class="popup-content">
						<div class="popup-content-info">
							<div class="top-popup">
								<div class="popup-profile-img">
									<img [src]="user.imgUrl" default="assets/images/user.png" alt="">
								</div>
								<div class="popup-students-info">
									<p>{{user.name | translate: currentLang }}</p>
									<p>{{user.role | translate: currentLang }}</p>
									<p>{{user.structure.name | translate: currentLang }}</p>
								</div>
							</div>
							<div class="center-popup">
								<ul>
									<li>Mektublarim <p>0</p></li>
									<li>Menim elavelerim <p>0</p></li>
									<li>Dersler haqqinda bildirish <p>0</p></li>
								</ul>
							</div>
							<div class="bottom-popup">
								<a href="http://192.168.1.78:8082/DashboardRest/index.html" class="danger-btn" (click)="logout()">ÇIXIŞ</a>
								<a routerLink="/user-profile" routerLinkActive="active" class="rounded-btn">MƏNİM SƏHİFƏM</a>
							</div>
						</div>
					</div>
				</div>
				<!-- popup end -->
			</li>
		</ul>
	</nav>
</header>
