<activity-journal *ngIf="subState == 'activity'" 
	[lesson] = 'lesson'
	[currentLang]="currentLang"
	[journal]="journal"
	></activity-journal>
<final-journal 
	*ngIf="subState == 'final-journal'"
	[lesson] = 'lesson'
	[currentLang]="currentLang"></final-journal>
<journal-edit *ngIf="subState == 'journal-edit'" 
	[lesson] = 'lesson'
	[currentLang]="currentLang"
	[journal]="journal"
	></journal-edit>
<journal-add *ngIf="subState == 'journal-add'" 
	[lesson] = 'lesson'
	[currentLang]="currentLang"
	[journal]="journal"
	></journal-add>
