<activity-journal *ngIf="subState == 'activity'" 
	[lesson] = 'lesson'
	[currentLang]="currentLang"
	[activityJournal]="activityJournal"
	></activity-journal>
<independent-work-journal 
	*ngIf="subState == 'independent-work'"
	[lesson] = 'lesson'
	[currentLang]="currentLang"
	></independent-work-journal>
<course-work-journal 
	*ngIf="subState == 'course-work'"
	[lesson] = 'lesson'
	[currentLang]="currentLang"></course-work-journal>
<final-journal 
	*ngIf="subState == 'final-journal'"
	[lesson] = 'lesson'
	[currentLang]="currentLang"></final-journal>
<journal-edit *ngIf="subState == 'journal-edit'" 
	[lesson] = 'lesson'
	[currentLang]="currentLang"
	[journal]="journal"
	></journal-edit>
<journal-add *ngIf="subState == 'journal-add'" 
	[lesson] = 'lesson'
	[currentLang]="currentLang"
	[journal]="journal"
	></journal-add>
