<div class="lesson-top">
	<div>
		<ul class="lesson-main-nav">
			<li><a class="nav-btn accent-nav-btn" href="lesson-about.php" (click)="navSelect('lesson-about'); false" [class.active-btn]="currentState == 'lesson-about'">ESAS</a></li>
			<li><a class="nav-btn accent-nav-btn" href="/members.php" (click)="navSelect('members-list'); false" [class.active-btn]="currentState == 'members-list'">ISTIRAKCILAR</a></li>
			<li><a class="nav-btn accent-nav-btn" href="/meetings.php" (click)="navSelect('meeting'); false" [class.active-btn]="currentState == 'meeting'">GORUSHLER</a></li>
			<li><a class="nav-btn accent-nav-btn" href="/meetings.php" (click)="navSelect('journal-tab'); false" [class.active-btn]="currentState == 'journal-tab'">e-JURNAL</a></li>
		</ul>
	</div>
	<img src="assets/img/icons/subject.svg" alt="" class="lesson-img">
	<div class="main-text">
		<h4>{{lesson.name  | translate: currentLang }}</h4>
	</div>
	<lesson-sub-header
	[currentState]="currentState"
	[subState]="subState"
	(select)="emitSubState($event)"
	></lesson-sub-header>
</div>