<div class="journal-table st-block-style">
	<table class="st-table">
		<tr>
			<th *ngFor="let column of columns">{{column}}</th>
		</tr>
		<tr *ngFor="let row of rows">
			<td>{{row.studentFullName}}</td>
			<td class="middle-mark">{{row.activity}}</td>
			<td class="good-mark">{{row.attendance}}</td>
			<td class="best-mark">{{row.serbestIsh}}</td>
			<td class="low-mark">
			{{row.kursIsh}}
			</td>
			<td class="good-mark">{{row.beforeExamTotal}}</td>
			<td class="good-mark">{{row.examScore}}</td>
			<td class="good-mark">{{row.examScore + row.beforeExamTotal}}</td>
			<td class="good-mark">
			{{B}}
			</td>
		</tr>
	</table>
	<ul class="pagination">
		<li class="arrow-left-paginate"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#" class="active-paginate">3</a></li>
		<li><a href="#">...</a></li>
		<li><a href="#">10</a></li>
		<li class="arrow-right-paginate"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
	</ul>
</div>