<custom-header></custom-header>
<custom-masonry *ngIf="universities"></custom-masonry>
<!--<custom-jquery *ngIf="firstTime"></custom-jquery>-->
<div *ngIf="university">
	<!-- Main -->
	<main class="main-content">
	<!-- Aside Trigger -->
		<a routerLink="/dashboard" routerLinkActive="active" class="aside-trigger" asideTrigger>
			<img src="assets/img/icons/right-arrow.svg" alt="">
		</a>
	<!-- Aside -->
	<aside class="left-aside structure-aside">
		<div class="aside-content" *ngIf="university">
			<university-aside
			[university]='university'
			[currentLang]="currentLang"></university-aside>
		</div>
	</aside>
	<!-- End Aside -->

	<!-- Main Container -->
	<div class="ov-hid">
		<perfect-scrollbar class="main-container st-block-style vert-scroll">
			<lessons-list
			[loading]="loading"
			(gotoInfo)='gotoInfo($event)'
			[currentLang]="currentLang"
			[lessons]='lessons'
			(loadMore)='loadMoreLessons()'
			></lessons-list>
		</perfect-scrollbar>
	</div>
	<!-- End Main Container -->

	</main>
	<!-- End Main -->
</div>
