<div class="journal-table st-block-style">
	<table class="st-table">
		<tr>
			<th>Istirakcilar</th>
			<th *ngFor="let column of columns">
				<a href="journal-edit.php" class="table-edit-btn" (click)="goToEdit(); false">
					<img src="assets/img/icons/edit-blue.svg" alt="">
				</a>
				{{column[0].schemaDate}}
				<a class="article-info" data-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, voluptatem.">
					<img src="assets/img/icons/icon_info.svg" alt="">
				</a>
			</th>
		</tr>
		<tr *ngFor="let row of rows">
			<td>{{row[0][0].studentName}}</td>
			<td *ngFor="let grade of row[0]" [innerHTML]='grade.score'></td>
		</tr>
	</table>
	<ul class="pagination">
		<li class="arrow-left-paginate"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#" class="active-paginate">3</a></li>
		<li><a href="#">...</a></li>
		<li><a href="#">10</a></li>
		<li class="arrow-right-paginate"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
	</ul>
</div>
