<custom-header></custom-header>
<!-- main content second -->
<main class="main-content main-content-second">
	<div class="container-fluid main-container-second">
		<lesson-header 
		[currentState] = 'currentState'
		[lesson] = 'lesson'
		[currentLang]="currentLang"
		[subState]="subState"
		[states]='states'
		(select)="setCurrentState($event)"
		(updateSubState)="setSubState($event)"></lesson-header>
	</div>

	<lesson-about  *ngIf="currentState == 'lesson-about'" 
	[lesson] = 'lesson'
	[currentLang]="currentLang"
	(select)="setCurrentState($event)"></lesson-about>
	<members-list *ngIf="currentState == 'members-list'" 
	[lesson] = 'lesson'
	[currentLang]="currentLang"
	[students]="students"></members-list>
	<meeting *ngIf="currentState == 'meeting' || currentState == 'meeting-files'" 
	[lesson] = 'lesson'
	[topics]="topics"
	[currentLang]="currentLang"
	[currentState]="currentState"
	[subState]="subState"></meeting>
	<e-journal 
	*ngIf="currentState == 'journal-tab'"
	[lesson] = 'lesson'
	[currentLang]="currentLang"
	[currentState]="currentState"
	[subState]="subState"></e-journal>
</main>

