<div class="container">
	<div class="main-text-bottom st-block-style">
		<ul class="info-coint-ul">
			<li class="lessons-main-head"><h3>F</h3></li>
			<li class="info-head">{{lesson?.name | translate: currentLang }}</li>
			<li>{{lesson?.info | translate: currentLang }}</li>
		</ul>
	</div>

	<div class="lessons-info-table st-block-style">
		<ul>
			<li class="lesson-main-icon">
				<img src="assets/img/desk.svg" alt="">
			</li>
			<li>
				<p>Telimci</p>
				<p *ngFor="let employee of lesson?.employees">{{employee?.fullname | translate: currentLang }}</p>
			</li>
		</ul>
	</div>

	<div class="lessons-info-table st-block-style">
		<ul>
			<li class="lesson-main-icon">
				<img src="assets/img/desk.svg" alt="">
			</li>
			<li>
				<p>Telim dili</p>
				<p >{{lesson?.languages | translate: currentLang}}</p>
			</li>
		</ul>
	</div>

	<div class="lessons-info-table st-block-style">
		<ul>
			<li class="lesson-main-icon">
				<img src="assets/img/meeting.svg" alt="">
			</li>
			<li class="info-head">
				<p>Novbeti gorush</p>
				<p>{{lesson?.nextMeeting | translate: currentLang }}</p>
			</li>
			<li class="info-head">
				<p>Movzunun ad</p>
				<p>{{lesson?.nextTopicName | translate: currentLang }}</p>
			</li>
			<li class="see-all-meetings"><a href="#" class="rounded-btn" (click)="navSelect('meeting'); false">butun gourshlere bax</a></li>
		</ul>
	</div>
</div>
