<div class="container">
	<div class="main-text-bottom st-block-style">
		<ul class="info-coint-ul">
			<li class="lessons-main-head"><h3>Km</h3></li>
			<li class="info-head">{{lesson.name | translate: currentLang }}</li>
			<li>{{lesson.info | translate: currentLang }}</li>
		</ul>
	</div>

	<div class="lessons-info-table st-block-style">
		<ul>
			<li class="lesson-main-icon">
				<img src="assets/img/desk.svg" alt="">
			</li>
			<li class="info-head">
				<p>Telimci</p>
				<p *ngFor="let employee of lesson.employees">{{employee.name | translate: currentLang }}</p>
			</li>
			<li class="lesson-profile-img">
				<img src="assets/img/user.png" alt="" default="assets/images/user.png">
			</li>
		</ul>
	</div>

	<div class="lessons-info-table st-block-style">
		<ul>
			<li class="lesson-main-icon">
				<img src="assets/img/desk.svg" alt="">
			</li>
			<li class="info-head">
				<p>Telim dili</p>
				<p *ngFor="let language of lesson.languages">{{language.name | translate: currentLang }}</p>
			</li>
		</ul>
	</div>

	<div class="lessons-info-table st-block-style">
		<ul>
			<li class="lesson-main-icon">
				<img src="assets/img/meeting.svg" alt="">
			</li>
			<li class="info-head">
				<p>Novbeti gorush</p>
				<p>{{lesson.nextMeeting | translate: currentLang }}</p>
			</li>
			<li class="info-head">
				<p>Movzunun ad</p>
				<p>{{lesson.nextTopicName | translate: currentLang }}</p>
			</li>
			<li class="see-all-meetings"><a href="#" class="rounded-btn" (click)="navSelect('meeting'); false">butun gourshlere bax</a></li>
		</ul>
	</div>
</div>